<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990286410554-lakjvrf5tlo8ids7jpvv3lkm1hvt24v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990286410554-lakjvrf5tlo8ids7jpvv3lkm1hvt24v0</string>
	<key>API_KEY</key>
	<string>AIzaSyBhl5xvvRK2uOk7TEWj0gE3ea3TbYZCPhw</string>
	<key>GCM_SENDER_ID</key>
	<string>990286410554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>barsegev.FitBook2</string>
	<key>PROJECT_ID</key>
	<string>fitbook2-9511e</string>
	<key>STORAGE_BUCKET</key>
	<string>fitbook2-9511e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990286410554:ios:e0395686edb942c63b5603</string>
	<key>DATABASE_URL</key>
	<string>https://fitbook2-9511e.firebaseio.com</string>
</dict>
</plist>